{% extends 'base.html' %}

{% block content %}
<h1>{{ request.current_app }}</h1>

<div class="container d-flex flex-column align-items-center mt-3">
    <form method="GET" class="row w-75">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="{{ form.title.html_name }}" placeholder="Enter movie title" aria-label="Enter movie title" aria-describedby="search-button">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
        </div>
    </form>
    
    <div class="">
        {% for movie in movies %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ movie.Poster }}" class="img-fluid rounded-start" alt="{{ movie.Title }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ movie.Title }}</h5>
                    <p class="card-text">{{ movie.Year }}</p>
                    <p class="card-text"><small class="text-body-secondary"><a href="{% url 'movies:movie_add_to_favorite' movie.imdbID %}">Add to favorites</a></small></p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% if number_of_pages|length > 0 and movies|length > 0 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if current_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'movies:movie_home' %}?title={{ title }}&page={{ previous_page }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page in number_of_pages %}
                    {% if page == current_page %}
                        <li class="page-item active"><a class="page-link" href="{% url 'movies:movie_home' %}?title={{ title }}&page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'movies:movie_home' %}?title={{ title }}&page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if current_page < number_of_pages|length %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'movies:movie_home' %}?title={{ title }}&page={{ next_page }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    
</div>

{% endblock %}