{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column align-items-center mt-3">
    <div class="">
        {% for movie in movies %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ movie.poster }}" class="img-fluid rounded-start" alt="{{ movie.title }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.plot }}</p>
                    <p class="card-text"><small class="text-body-secondary"><a href="{% url 'movies:remove_movie_from_favorite' movie.imdb_id %}">Remove from favorites</a></small></p>
                    </div>
                </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if movies.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ movies.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page in movies.paginator.page_range %}
                {% if page == movies.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if movies.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ movies.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}
